# Python
__pycache__
*.pyc
.ipynb_checkpoints/

# IDE
.idea
.vscode

# Virtual Environment
venv
env

# System
.DS_Store
Thumbs.db

# Other
*.log
*.lock

# Data
data/
results/
my_firefox_profile/
fb_data.json
debug_*.html
geckodriver.log
*.csv

# latex
latex/main.aux
latex/main.bcf
latex/main.log
latex/main.nav
latex/main.out
latex/main.run.xml
latex/main.snm
latex/main.synctex.gz
latex/main.toc
latex/main.vrb