# Python
__pycache__
*.pyc
.ipynb_checkpoints/

# IDE
.idea
.vscode

# Virtual Environment
venv
env

# System
.DS_Store
Thumbs.db

# Other
*.log
*.lock

# Data
data/
results/
my_firefox_profile/
old_facebook/
news*/
trendings/
facebook/
fb_data.json
debug_*.html
geckodriver.log
*.csv

# latex

# --- LaTeX ---
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.snm
*.run.xml
*.bcf
*.nav
*.pdf

stream_test/data/*
stream_test/crawlers/__pycache__/

# demo
.env
demo/